.header {
    height: 10rem;
}

.menu {
    position: relative;
}

.menu .items {
    position: absolute;
    width: 10rem;
}

.sidebar-top-fixed {
    position: fixed !important;
    top: 0;
}

.sidebar-bottom-fixed {
    position: fixed !important;
    bottom: 0;
}

.main {
    display: inline-block;
    height: 5000px;
    border-left: 2px solid #e8e8e8;
    margin-left: 15rem;
    padding: 1rem;
}

.sidebar-log {
    position: fixed;
    top: 10rem;
    right: 1rem;
    height: 50vh;
    overflow: scroll;
    background-color: #000;
    color: #39e617;
    opacity: 0.8;
    padding: 1rem;
    border-radius: 4px;
    font-size: smaller;
}
